.DS_Store
/data
notebooks/data
notebooks/spark-warehouse
misc
notebooks/models
finetuned_models
# Ignore JVM crash logs
hs_err_pid*.log
.vscode
# Ignore everything in notebooks folder
notebooks/*
# Except .ipynb files
!notebooks/*.ipynb
# MLflow runs and model artifacts
mlruns/
finetuned_models/
app/models/lr_model/
app/models/classical_nlp_pipeline/
app/models/feature_pipeline/
app/__pycache__
*.onnx
**/bert_onnx
app/__pycache__